*{
  font-family: Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: auto;
  max-width: 75vw;
}

header{
  width: 100%;
  border-bottom: 1px solid gray;
}

.header-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 0px;
  /*border: 1px solid red;*/
}

.main-wrapper{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

form > input{
  width: 100%;
  height: 4vw;
  font-size: 2vw;
  margin-top: 0.5vw;
}

form > button{
  width: 100%;
  padding: 2vw;
  margin: auto;
  margin-top: 1vw;
}

label{
  text-align: start;
}



#preview{
  margin: auto;
  width: 50%;
}



/*create user*/

.create-worker-form{
  margin-top: 4vw;
}

.create-worker-form > .form-item{
  margin-bottom: 1vw;
  display: flex;
  flex-direction: column;
}

.create-worker-form > {
  margin-bottom: 1vw;
  display: flex;
  flex-direction: column;
}



/*preloader*/

.loader__wrapper{
  display:  none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  z-index: 999;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*main-page*/
.main-wrapper > .content{
  display: flex;
  flex-direction: column;
}

.main-wrapper > .content > .main-btn{
  width: auto;
  height: auto;
  margin-bottom: 2vw;
}


.main-wrapper > .content > .main-btn > button{
  margin: auto;
  font-size: 2vw;
  width: 40vw;
  height: auto;
}

/*read worker code*/

.worker-form-label{
  font-size: 2.8vw;
}

.camera-scan-btn{
  width: 100%;
  padding: 1vw;
  margin: auto;
  margin-top: 1.5vw;
  font-size: 2vw;
}

.send-form-btn{
  height: auto;
  padding: 2vw;
}
